@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #0F172A;
  overflow: hidden;
}
